@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

* {
    font-family: 'Oswald', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

h1 {
    font-size: 3rem;
    margin: 20px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 5px;
    font-size: 2.5rem;
    width: 1200px;
    height: 95px;
    overflow: hidden;
}

.social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
}

footer a {
    text-decoration: none;
}

footer img {
    height: 70px;
    margin-left: 10px;
}

footer span {
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 3rem;
}